<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Section EngEd RSS Feed Generator</title>
    </head>

    <body>
        <header>
            <h1>Section EngEd RSS Feed Generator</h1>
        </header>

        <main class="flex-center no-bottom">
            <h2>Welcome to the Section EngEd RSS Feed Generator</h2>
            <p>Go to xyz to generate your feed</p>
        </main>

        <footer>
            <p>Copyright 2021 Louise Findlay</p>
        </footer>
    </body>
</html>
